extends layout

block content
  h1= title
  p stores a network to use with routing algorithms that calculate a set of routes with minimal cost and time for delivery.

  p Swagger documentation is at:
  a(href='/docs/index.html') /docs/index.html

  h2= "Setup"
  p npm install

  h2="Test"
  p npm test

  h2= "Import network from S3"
  p npm run import

  h2= "Start server on "
    a(href='localhost:3000') localhost:3000
  p npm start
